/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans',sans-serif;
}
.clearfix::after{
    clear: both;
    display: table;
    content: "";
}

/********* HEADER ******/
header{
    width: 100vw;
    height:4rem ;
    background-color: aquamarine;
    display: inline-block;
    line-height:3rem ;
    vertical-align: middle;
}

.logo_site{
    width: 10%;
    background-color: darkmagenta;
    float: left;
    line-height:3rem;
    vertical-align: middle;
}

.left-nav{
    width: 45%;
    background-color:cornflowerblue;
    text-align: left;
    float:left;
}
header li{
    list-style: none;
    display: inline;
    padding: 8px;
}

header a{
    text-decoration: none;
}
.right-nav{
    width: 45%;
background-color: darkcyan;
text-align: right;
float: left;
}
header nav{
    vertical-align: middle;
}