/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans',sans-serif;
    min-width: 1440px;
}

/* **min.width: si adatta a qualsiasi risoluzione facilmente** */
.clearfix::after{
    clear: both;
    display: table;
    content: "";
}

/******** DEBUG LIST ******/


/* common rules */
p{
    font-size: 20px;
}

li{
    font-size: 22px;
    list-style: none;
}

/********* HEADER ******/
header{
    width: 100%;
    line-height:4rem ;
    height: 4rem;
    font-size: 23px;
    text-align: center;
}

.logo_site{
    width: 10%;
    float: left;
    /* line-height:4rem;  questa info è già contenuta nell'header*/
}

.left-nav{
    width: 45%;
    text-align: left;
    float:left;
}
.right-nav{
    width: 45%;
text-align: right;
float: left;
}
.start{
    background-color:rgba(0, 97, 255, 1) ;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-decoration: none;
}
header li{
    list-style: none;
    display: inline;
    padding: 8px;
    margin: 23px;
}

header a{
    text-decoration: none;
}

/* /header_site */

/* ****BUSINESS BOX *********/
.business_box{
    width: 100vw;
    height: 59rem;
    background-color:rgba(180, 208, 231, 1);
    display:inline-block; 
}

.business_box_content{
    height: 50rem;
    width: 80%;
    margin: 6rem auto;
}

.business_box_content .maintitle{
    width: 100%;
    height: 20%;
    float: left;
    font-size: 5.8rem;
    margin-top: -14px;
    margin-bottom: 200px;
   }

.business_box_content .info_business{
    width: 20%;
    height: 68%;
    float: left;  
    margin-right: 3%;
}
.info_business> .first_text{
    float: left;

}
.info_business> a{
    float: left;
    margin-top: 4rem;

}

.info_business> .icon{
    float: left;
    font-size: 105px;

}
.info_business>.second_text{
    float: left;
    padding: 5px;
    width: 100%
}

/* .business_box_content .jumbo_img{
    background-color: deepskyblue;
    height: 31rem;
    width: 54rem;
    float: left;
    background-size: cover;
    margin: 38px;
} */

.jumbo_img{
    width: 63%;
    float: left;
    }
.jumbo_img> img{
     width: 100%;
     height: auto; }

    /* /business box */

    /******SECTION PLAN ********/

.plan_box, .dropbox_operation,{
    width: 100%;
    height: 59rem;
}

.container_plan{
    width: 60%;
    margin: 11rem auto;
}


.container > h2{
    width: 100%;
    text-align: center;
    margin-left: 18px;
}
.plan_type {
    text-align: center;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    
    border:lightgray 1px solid;
}
.plan_box h2{
    font-size: 3rem;
    margin-left: 30px;
    height: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}
.plan_box h3{
    font-size: 28px;
    margin-top: 1.5rem;
}

.plan_type>li{
    list-style: none;
    display: inline;
    padding: 8px;
    
}
.plan_type>ul{
    list-style: none;
    display: inline;
    padding: 8px;
    margin: 10px 0px 0px 0px;
    /* list-style-image: url(./img/check-solid.svg); */
}
li .fa-check{
    color: rgba(27, 113, 255, 1);
}
    

input{
    margin-left: 37px;
    font-size: 2rem;
    
}

.row{
    width: 100%;
    height:auto;
    margin-top: 2rem;

}
.col_33{
    float: left;
    width: 27%;
    min-height: 38rem;
    border: lightgray 1px solid;
    line-height: 3.5rem;
    margin:0rem 1.5rem;
    padding: 22px;
   
}
.col_33 div{
    width:100%;
    padding: 0.5rem;
}

.plan_box> .col_33{
    line-height: 4rem;
}
/* /section plan */

/* /* ****Team Section **** */


.plan_type_team{
    width: 75%;
    text-align: center;
    border: lightgray 1px solid;
    margin: 0 auto
}
.row{
    width: 100%;
}
.plan_type_team .col_70{
    float:left;
    width: 70%;
    height: 5rem;
    background-color: rgb(22, 3, 127);
    margin: 0;
    padding: 2rem;
}
.plan_type_team h3{
    float: left;
}


.plan_type_team .contact_office{
    float:left;
    width: 30%;
    height: 5rem;
   padding: ;
}
/* /team section */


/* *******PARTNER DROPBOX********** */


.partner_box{
    width: 100vw;
    height: 59rem;
    background-color: blue;
}
.container_partner{
    width: 75%;
    margin: 0rem auto;
}
.row{
    width: 100%;
    height: auto;
}

.partner_img{
    width: 50%;
    float: left;
    margin-right: 10px;
    }
.partner_img> img{
     width: 100%;
     height: auto; 
    }

.col_50{
    float: left;
    width: 40%;
    height: auto;
    margin-top: 6rem;
    margin-left: 3rem;
}
/* /partner_dropbox */


/* *********DROPBOX OPERATIONs*********** */
.row_operation{
    width: 100%;
    margin: 0 auto;
}


.dropbox_operation h2{
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.col_33_operation{
    float: left;
    width:27%;
    min-height: 40rem;
    padding: 22px;
}

.operation_img{
    width: 88%;
    float: left;
    margin-right: 2px;

    }
    .operation_text h3{
      font-size: 2rem;
      padding-bottom: 2rem;
    }
.operation_img> img{
    width: 118%;
     height: auto; 
     text-align: center;
    }
.team_dropbox{
    width: 100%;
    float: left;
    height: 4rem;
    margin-top:7rem;
}
/* ******* OPERATIONs*********** *

/* ***MEMBER DROPBOX*** */


.members_dropbox{
    width: 100vw;
    height: 25rem;
    background-color: darkblue;
}

.members_dropbox,
.row_members .left_square, .row_members .right_square, .designit{
    height: 40rem;}

.left_square, .right_square{
    width: 40rem;    
}
.left_square img, .right_square img{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    filter: invert();
        
}
.left_square{
    background-color: chocolate;
    float: left;
}
.designit{
    width: 64rem;
    float: left;
    background-color: darkgray;
}
.right_square{
    background-color: cornflowerblue;
    float: left;
}

.members_img{
    width: 50%;
    height: 50%;
    float: left;
    border: green solid;
    }

.members_img> img{
     width: 50%;
     height: 50%;     
    }
    .logo_d{
        width: 100%;
        height: 20%;
        margin-top: 2rem;
    }
    .logo_d img{
        width: 50%;
        height: 50%;
        border: white solid;
    }

    .text_designit> p{
        margin: 3rem;
    }
    .designit_img{
        background-color: rgba(162, 211, 155, 1);
        fill: white;
    
    }
    .arizona{
        background-color: rgba(97, 8, 43, 1);
        fill: white;
    }
    .florida{
        background-color:rgba(0, 147, 206, 1) ;
    }
    .topps{
        background-color:rgba(255, 28, 28, 1) ;
    }
.bicycle{
    background-color:rgba(213, 0, 31, 1) ;
}
.hearst{
    background-color: rgba(180, 208, 231, 1);
}
.lonely{
    background-color:rgba(13, 36, 129, 1) ;
}
.clear{
    background-color:rgba(255, 216, 48, 1) ;
}





    /* /members_dropbox */

    /* ******TAKE DROPBOX*********** */
    .take_dropbox{
        width: 100vw;
        height: 10rem;
        background-color: green;
    }

    .take_dropbox_title{
        width: 70%;
    }
    .prova_gratuita{
        width: 30%;
    }

    .take_dropbox h2, .take_dropbox .prova_gratuita { 
        float: left;
    }
/* /take dropbox */


/* *******QUESTION********** */
.domande{
    width: 100vw;
    height: 25rem;
    background-color: indigo;
    margin-top: 2rem;
}
.container h2{
   text-align: left;
}
.question{
    width: 100%;
    height:3rem;
    background-color: lawngreen;
    margin-top: 2rem;
    vertical-align: middle;
}
/* *****footer********* */

footer{
    width: 100vw;
    height: 30rem;
    background-color:black;
    display: inline-block; 
    color: white;
}

.col_20{
    width: 17%;
    height: 19rem;
    float: left;
    margin-right: 2rem;
    line-height: 2rem;
}
.col_20 ul{
    margin-top: 2rem;
}

.col_20 a{
    color: white;
    text-decoration: none;
}
.col_20 h5{
    font-size: 1.7rem;
}
footer .row{
    margin: 0 auto;
}


.row_90{
    width: 90%;
    height: auto;
    margin: 5rem auto;